.item-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    margin: 16px;
    font-family: Montserrat;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust width as needed */
    padding-bottom: 80px;
    transition: all .3s ease-in-out;
}

.item-card:hover {
    scale: 1.02;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
 
.prop-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.prop-details {
    font-size: 14px;
    color: #555;
    text-align: left;
    width: 100%;
    display: flex;
}

.prop-see-more {
    color: green; 
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.prop-price {
    color : red;
    margin-top: 30px; 
}

.item-details-container {
    min-width: 100px;
    width: 200px;
    position: relative;
    height: fit-content;
}

.item-image-container {
    background-color: transparent;
    position: relative;
    min-width: 100px;
    width: 200px;
}

.item-image-container img {
    width: 100%;
    height: 80%;
}

.add-to-cart {
    position: absolute;
    bottom: 10px;
    left: 45%;
}
.add-to-cart-container {
    position: relative;
    margin: none;
}

.add-to-cart-btn {
    background-color: #52ca56;
    margin: none;
    width: 60px;
    height: 30px;
    border-radius: 15px;
}

.add-to-cart-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.add-to-cart-message.visible {
    opacity: 1;
    visibility: visible;
}