.comment-section {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    min-width: 200px;
    text-align: center;
}

.comment-title {
    font-size: 23px;
    font-weight: 800px;
    width: 80%;
    margin-bottom: 20px;
}

.comment-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.comment-form > div {
    width: 80%;
}

.comment-form input, textarea {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

.submit-comment-btn {
    position: relative;
    margin : 0 auto;
    background-color: rgba(9, 25, 193, 0.84);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    border-radius: 50px;
    width: 40%;
}