.social-acc-container {
    position: absolute;
    min-width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.social-acc-container > * {
    width: 100%;
    height: 50%;
}

.links {
    display: flex;
    align-items: center;
    
}