.searchbar {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-input {
    font-family: Montserrat;
    border-radius: 50px;
    padding: 0px;
    border: 0.4px solid grey;
    width: 0; /* Start with zero width */
    opacity: 0; /* Start with zero opacity */
    visibility: hidden; /* Hide initially */
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.searchbar:hover .search-input {
    width: 200px; /* Expand width on hover */
    opacity: 1; /* Fade in */
    visibility: visible; /* Make visible */
    padding: 10px; /* Add padding */
    border: 0.4px solid grey; /* Add border */
}

.searchbar:hover .search-input.has-text {
    width: 200px; /* Keep expanded width if input has text */
}

.search-input.has-text {
    width: 200px; /* Keep expanded width if input has text */
    opacity: 1; /* Keep visible */
    visibility: visible; /* Keep visible */
    padding: 10px; /* Keep padding */
    border: 0.4px solid grey; /* Keep border */
}

.searchBtn {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.searchBtn > img {
    height: 15px;
    width: 15px;
    transition: all 0.3s ease-in-out;
}
