.items-card-container {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: center;
    padding-top: 70px;
    position: relative;
}

.items-on-sale-title {
    font-family: Montserrat;
    position: absolute;
    z-index: 200;
    top: 0;
}